*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: arial,sans-serif;
  font-style: normal;
  background-color: rgba(74, 210, 149, 0.5);
}

.nav-header{
  display: grid;
  grid-template-columns: 0fr 3fr ;
  justify-content: center;
  height: 75px;
  background-color:#5f7d95;
  border-bottom: 3px solid rgba(101, 122,24) ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  
}

.nav-logo{
   width: 50px;
   border-radius: 50px;
   margin-left: 14px;
}

ul{
  display: flex;
  list-style: none;
  
}

li a{
  color:white;
  text-decoration: none;
  padding: 25px;
  font-weight: 750;
}

li a:hover{
  text-decoration: underline 3px solid blueviolet;
  padding-bottom:2px;
  border-bottom:3px;
  transition: all 1.5;
  animation-name: text-decoration;
  opacity: 0.5;
}

li a:active{
  transition: all 0.5s;
  background-color: inherit;
  text-decoration: underline 18px solid orange;
}

h1{
  color:black;
  font-size: 60;
  font-weight:700;
  margin-left: 20px;
  
}

h1 span{
  color:orange;
  font-weight: 800;
}

.background-image{
  position: relative;
 background-image:url(background-image.jpg) ;
}


.info-owner-portfolio-container{
  display: flex;
  text-align:center ;
  justify-content: center;
   align-items: center;
   /* margin-right: 100px; */
   margin-top: 160px;
   column-gap: 50px;

}

.info-owner-portfolio{
  margin-top:30px;
  /* margin-right: 50px;  */
  line-height: 28px;
  word-spacing: 2px;
}

.owner-image{
  object-fit: contain;
  width: 200px;
  border-radius:175px;
  
}

.owner-greetings{
  font-size: x-large;
  color:black;
}

 .owner-name{
  font-weight: 900;
  margin-top: 10px;
  font-size:larger;
  line-height: 25px;
}

.owner-job{
  font-weight:bold;
  line-height:20px ;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-download-cv,.btn-contact-info{
  padding:4px 3px;
  border-radius: 15px;
  border: none;
  gap: 5px;
}

.btn-contact-info{
  margin-top:10px;

}

.btn-download-cv:hover{
  background-color: rgb(213, 217, 217);
  cursor:pointer;
}

.btn-download-cv:active{
  background-color:rgb(213, 217, 217) ;
  opacity: 0.5;
}

.btn-contact-info:hover{
  background-color: rgb(213, 217, 217);
  cursor: pointer;
}

.btn-contact-info:active{
  background-color:rgb(213, 217, 217) ;
  opacity: 0.5;
}

.social-info{
  margin-left: 12px;
  margin-top: 5px;
}

.btn-link-In,.btn-github{
  padding-left: 5px;
  padding-right: 5px;
}
  
.about-container{
 display: flex;
 text-align: center;
 justify-content: center;
 gap: 10px;
 margin-left: 38px;
 margin-right: 20px;
}

.about-know-me{
  margin-top:80px;
  color:black;
  text-align: center;
  font-weight: 600;
  opacity: 0.3;
}

.about-heading{
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom:50px;
  color: blueviolet;
}

.about-text{
  margin-top:10px;
  font-size:large;
  font-weight: 600;
  color:darkblue;
  
}

  .about-message{
    margin-top: 10px; 
 } 

.content{
  display: grid;
  grid-template-columns:repeat(1fr);
  background-color: greenyellow;
  padding-top:10px;
  border-radius: 10px;
}
   /* Here are the styles for PORTFOLIO-EXPERIENCE */
.experience-heading{
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom:50px;
  color: blueviolet;
}

.experience-container{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  margin-left: 38px;
  margin-right: 20px;
}

.content-experience{
  display: grid;
  grid-template-columns:repeat(1fr);
  background-color: dodgerblue;
  padding-top:10px;
  border-radius: 10px;
}

.experience-know-me{
  margin-top:80px;
  color:black;
  text-align: center;
  font-weight: 600;
  opacity: 0.3;
}

.experience-text{
  margin-top:10px;
  font-size:large;
  font-weight: 600;
  color:darkblue;
}

.experience-message{
  margin-top: 10px; 
} 

.project-container{
  
  display:flex;
  flex-wrap: wrap;
  width:100%;
  /* margin-left: 39px ; */
  /* margin-right:39px; */
  row-gap: 15px;
  column-gap: 15px;
  border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  background-color:black;
  padding-bottom: 10px;
}


.images{
  width: 340px; 
  border-radius: 10px;
}

.project-name{
  text-align: center;
  margin-top: 8px;

}

.project-name{
  align-items: center; 
}

.project-name span{
  font-weight: bold;
  font-size:large;
  color:orange;
}

.project-button{
  margin-left: 10px;
  padding: 8px 8px 5px 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size:large;
  animation-name: open-me;
  animation-direction:reverse;
  animation-duration: 5s;
  animation-delay:10s ;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform-origin: -50%;
}

@keyframes open-me{
  15%{transform: scale(-0.1);}

  100%{background-color: deeppink; color: white;
  border-radius: 100%;}

}

.project-button:hover{
  cursor: pointer;
}




