*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family: arial,sans-serif;
  font-style: normal;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

h1{
  color:blueviolet;
  font-size: 60;
  margin-left: 20px;

}

h1 span{
  color:orange;
}


.nav-link a{
  color:blueviolet;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}