*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
  transition: all 5s;
}

body{
  scroll-behavior: smooth;
  font-family: arial,sans-serif;
  font-style: normal;
  background-color: #102a42;
  /* background-color:rgba(0, 0, 0, 0.777); */
  background:linear-gradient(rgba(119, 241, 100, 0.3), #64a7fa37) url(./portfolio-images/background-image.jpg) center/cover no-repeat;
  /* background-color: lightseagreen; */
  /* background-color: rgba(74, 210, 149, 0.5); */
}

.nav-header{
  height: 50vh;
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding-right: 60px;
  background-color:#5f7d95;
  border-bottom: 3px solid rgba(101, 122,24) ;
  position: fixed;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  z-index: 10;
}

/* .nav-link{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* color: blueviolet; */
  
/* } */ 

.nav-logo{
   width: 50px;
   border-radius: 50px;
   margin-left: 14px;

}

.ul-navlinks{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

li a{
  color:white;
  text-decoration: none;
  padding: 25px;
  font-weight: 750;
  font-size: 5vmin;
}

li a:hover{
  text-decoration: underline 3px solid blueviolet;
  padding-bottom:2px;
  border-bottom:3px;
  transition: all 1.5;
  animation-name: text-decoration;
  opacity: 0.5;
}

li a:active{
  transition: all 0.5s;
  background-color: inherit;
  text-decoration: underline 18px solid orange;
}

h1{
  color:black;
  font-size: 60;
  font-weight:700;
  margin-left: 20px;
  
}

h1 span{
  color:orange;
  font-weight: 800;
}

.menu-btn{
  position: absolute;
  top: 25px;
  right: 30px;
  width: 30px;
  cursor:pointer;
  display: none;
}

   /* Here are styles for mobile device */

@media(max-width:800px){
  .menu-btn{
    display: block;
  }

  .menu-btn:hover{
   transform:scale(1.1);
  
  }

  .nav-header{
    padding: 0;
  }

  .nav-logo{
    position: absolute;
    top:10px;
    background-color:#484872;
    box-shadow: 2px 2px 5px;
    
  }

  h1 span{
    font-size: 40px;
  }

  h1{
    font-size: 40px;
  }

  .ul-navlinks{
    flex-direction: column;
    width: 100%;
    height: 107vh;
    align-items: center;
    justify-content: center;
    background: #484872;
    margin-top: -900px;
    transition: all 1s ease;

  }

  .mobile-menu{
    margin-top: 0;
    border-bottom-right-radius: 50%;
  }
  
  .ul-navlinks li{
    margin: 20px auto;

  }

   li a{
    font-size: 4vmin;
  }

  .mobile-home{
    color:orange;
    font-size: 5vmin;
    font-weight: 900;
  }

}

.background-image{
  position: relative;
 background-image:url(background-image.jpg) ;
}

.info-owner-portfolio-container{
  display: flex;
  flex-wrap: wrap;
  text-align:center ;
  justify-content: center;
  align-items: center;
   margin-right: 20px;
   column-gap: 50px;
   width:100%;
}

#about,
#experience,
#projects,#contact{
  height: 8vh;
}

.info-owner-portfolio{
   margin-top:150px;
  background-color: rgb(213, 217, 217);
  line-height: 28px;
  word-spacing: 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;;
}

.owner-image{
  margin-top: 150px;
  object-fit: contain;
  width: 250px;
  border-radius:175px;
  
}

.owner-greetings{
  font-size: x-large;
  /* color:white; */
}

 .owner-name{
  font-weight: 900;
  margin-top: 10px;
  font-size:larger;
  line-height: 25px;
  /* color: white; */
}

.owner-job{
  font-weight:bold;
  line-height:20px ;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-download-cv,.btn-contact-info{
  padding:4px 3px;
  border-radius: 15px;
  border: none;
  gap: 5px;
  color: #000;
}

.btn-contact-info{
  margin-top:10px;

}

.btn-download-cv:hover{
  background-color: rgb(213, 217, 217);
  cursor:pointer;
}

.btn-download-cv:active{
  background-color:rgb(213, 217, 217) ;
  opacity: 0.5;
}

.btn-contact-info:hover{
  background-color: rgb(213, 217, 217);
  cursor: pointer;
}

.btn-contact-info:active{
  opacity: 0.5;
}

.social-info{
  margin-left: 12px;
  margin-top: 5px;
}

.btn-link-In,.btn-github{
  padding-left: 5px;
  padding-right: 5px;
}
  
.about-container{
 background-color: rgba(74, 210, 149, 0.5);
 display: flex;
 flex-wrap: wrap;
 flex-direction: column-reverse;
 text-align:center;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 margin-right: 38px;
 margin-left:38px;
 /* flex-direction: column; */
 justify-content:start;
 row-gap: 20px;
 column-gap: 50px;
}

.about-know-me{
  margin-top:80px;
  color:whitesmoke;
  text-align: center;
  font-weight: 600;
  opacity: 0.5;
}

.about-heading{
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  margin-top: 70px;
  margin-bottom:50px;
  color: orange;
}

.about-text{
  margin-top:10px;
  font-size:x-large;
  font-weight: 600;
  color:darkblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

  .about-message-edu,.about-message-lang{
    margin-top: 10px;
    background-color:white;
    color:black;
    padding-top: 10px;
    text-align: center;
 } 

 .about-message-goal{
  margin-top: 10px;
  background-color:white;
  color:black;
  padding-top: 10px;
  text-align: center;
 }


 .message{
  background-color: lightblue;
  
 }

.content{
  display: grid;
  background-color:rgba(110, 163, 51, 0.4);;;
  padding-top:10px;
  border-radius: 10px;
  text-align: center;
}

   /* Here are the styles for PORTFOLIO-EXPERIENCE */

.experience-heading{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 70px;
  margin-bottom:50px;
  color: blueviolet;
}

.experience-frontend-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap:15px;
  background-color: darkblue;
   text-align: center;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   overflow: hidden;
   margin-right: 38px;
   margin-left: 38px;
}

 .frontend,.job-experience{
  background-color: orange;
  padding: 5px 5px;
  font-weight:bold;
  font-size:x-large;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
 }

.list-items{
  padding-top: 5px;
  line-height:25px;
  font-weight:bold;
  background-color: lightskyblue;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 15px;
  border-top-right-radius: 50px;
  gap:10px;
  /* border-bottom-right-radius: 50px; */
  /* border-bottom-left-radius: 50px; */
  border-top-left-radius: 50px;
  list-style-type:none;
  width:400px;
}

.experience-know-me{
  margin-top:80px;
  color:whitesmoke;
  text-align: center;
  font-weight: 600;
  opacity: 0.5;
}

.experience-text{
  margin-top:10px;
  font-size:large;
  font-weight: 600;
  color:darkblue;
  border-bottom: 3px solid whitesmoke;
}


.years-experience>p{
  font-weight:bold;
}

.number-experience{
  padding-top: 20px;
  line-height:25px;
  background-color:lightskyblue ;
  font-size:large;
  padding-bottom:50px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  font-weight:bold;
  width: 350px;
}

.project-container{
  display:flex;
  flex-wrap: wrap;
  width:100%;
  margin-left: 39px ;
  margin-right:39px;
  row-gap: 15px;
  column-gap: 15px;
  border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  background-color:black;
  padding-bottom: 10px;
}

.images{
  width: 340px; 
  border-radius: 10px;
  margin-top: 10px;
}

.project-name{
  text-align: center;
  margin-top: 8px;
  font-weight:700;
  font-size: x-large;

}

.project-name{
  align-items: center; 
}

.project-name span{
  font-weight: bold;
  font-size:large;
  color:orange;
}

.project-button{
  margin-left: 10px;
  padding: 8px 8px 5px 5px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size:large;
  animation-name: open-me;
  animation-direction:reverse;
  animation-duration: 5s;
  animation-delay:7s ;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transform-origin: -50%;
}

@keyframes open-me{
  15%{transform: scale(-0.1);}

  100%{background-color: deeppink; color: white;
  }

}

.project-button:hover{
  cursor: pointer;
}

/* Here are styles for PORTFOLIO-CONTACT */

.contact-container{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-left: 39px;
  margin-right: 5px;
}

.social-media{
 display:flex;
 justify-content: space-around;
 align-items: center;
 gap: 15px;
 
}

.social-media a,.email,.number{
  text-decoration: none;
  line-height: 25px;
  /* font-weight: 700 */
  
}

.email,.number{
  font-style: italic;
  /* font-family: arial, sans-serif; */
}

.spacer-footer{
  margin-left: 6px;
}

.footer-name{
  color: whitesmoke
}

.all-right{
  color:red;
}
  

.contact-heading{
  text-align: center;
  font-weight: 700;
  font-size: x-large;
  margin-top: 70px;
  margin-bottom:50px;
  color: blueviolet;
}

 .write1,.write2,.write3,.write4,.experience-years{
  margin-bottom: 10px;
  display: flex;
  justify-self: auto;
  line-height:20px;
  padding-right:20px;
  padding-left:51px; 
  color:#484872;
  list-style-type:square;
  text-align: center;
  font-weight:bold;
  font-size:1em;

 }

.firstname,.lastname,.phonenumber,.email{
  display:flex;
}

.label{
  padding-right: 10px;
  font-weight:bold;
}

.footer{
  height: 40vh;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
}




  






